@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins", sans-serif;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(login-background.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    
}
.container{
    width: 100px;
    height: 40px;
    position: absolute;
    background: linear-gradient(#fff, rgb(7, 167, 254));
    backdrop-filter: blur(10px);
    top: 2%;
    right: 2%;
    border-radius: 20px;
    
    cursor: pointer;
}
.container .sun{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: radial-gradient(circle, #fff700, #fca311, #ff4500);
    box-shadow: 0 0 40px 5px rgba(255, 165, 0, 0.5);
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    cursor: pointer;
    transition: left 0.5s ease;
}
.dark-mode{
    background: linear-gradient(to bottom, #0f2027, #203a43, #2c5364);
    color: white;
}
.dark-mode .sun{
    left: 65px;
    background: linear-gradient(to bottom, #dcdcdc, #8a8a8a, #2f2f2f);
    box-shadow: 0 0 40px 5px rgba(250, 250, 249, 0.5);
}
body.dark{
    background: url(login-dark-mode-background.jpg) no-repeat;
    background-position: center;
    background-size: cover;
}
.wrapper{
    width: 420px;
    border-radius: 10px;
    background: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid rgba(255, 255, 255,0.2);
    color: #fff;
    padding: 30px 40px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}
.wrapper h1{
    font-size: 36px;
    text-align: center;    
}

.wrapper .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255, 255, 255,0.2);
    border-radius: 40px;
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    padding: 20px 45px 20px 20px ;
}

.input-box input::placeholder{
    color: #fff;
    
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px  0 15px;
}

.remember-forgot label input{
    accent-color: #fff;
    margin-right: 5px;
}

.remember-forgot label input:hover{
    cursor: pointer;
}
.remember-forgot a{
    text-decoration: none;
    color: #fff;
}

.remember-forgot a:hover{
    text-decoration: underline;
}

.wrapper .btn{
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    border: 2px solid rgba(255, 255, 255,0.2);
    box-shadow: 10 0 10px rgba(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link, .login-link{
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a, .login-link p a{
    color: #fff;
    text-decoration: none;
    font-weight:600;
}

.register-link p a:hover, .login-link p a:hover{
    text-decoration: underline;
}


/* sign up page (exclusive) */

.wrapper .option-line {
  display: flex;
  align-items: center;
  margin: 25px 0 15px;
}

.option-line .line {
  flex: 1;
  border: none;
  height: 1px;
  background: #fff;
}

.option-line span {
  padding: 0 1rem;
  white-space: nowrap;
}

.wrapper .icon-container{
    display: flex;
    justify-content: center;
    gap: 30px;
}

.icon-container .icon{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255,0.1);
    
}
.icon i:hover{
    cursor: pointer;
}
.icon-container .icon i{
    font-size: 20px;
}